#size {
    
    /* width:  2732px;
    height: 2048px; */

    width: 2048px;
    height: 2732px;
    transform: rotate(90deg);
    background-color: #A4B8C1;
    margin-left: 340px;
    margin-top: -346px;
    

}

#buttonStart {
    width: 400px;
    height: 120px;

    background-color: #E88C16;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 30px;
}

body{ 
 padding: 0;
 margin: 0;
}
#sectionKids {
    height: 50%;
    
    transform: rotate(180deg);
    border-top: 5px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionParents {

    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 410px;
    gap: 300px;
}