#menuIcon {
    background-color: #E88C16;
    padding: 60px;
    width: 140px;
    border-radius: 40px;
}

#menuSection {
    display: flex;
    max-width: 270px;
    flex-wrap: wrap;
    gap: 50px;
    position: sticky; 
}

#alignRight {
    width: 2630px;
    display: flex;
    justify-content: end; 
    position: sticky;
    z-index: 2;
    top: 20%;
    right: 0;
    height: 0;
}